<AuDataTable
        @content={{@services}}
        @page={{this.page}}
        @fields="title description"
        @noDataMessage="Geen documenten"
        @sort={{this.sort}}
        as |t|
>
    <t.content as |c|>
        <c.header>
            <AuDataTableThSortable
                    @field="title"
                    @currentSorting={{this.sort}}
                    @label="Publieke Service" @class="data-table__header-title"
            />
            <AuDataTableThSortable
                    @field="description"
                    @currentSorting={{this.sort}}
                    @label="Omschrijving" @class="data-table__header-title"
            />
        </c.header>
        <c.body as |row|>
            <td>{{row.title}}</td>
            <td>{{{row.description}}}</td>

            <td><AuLink @route="public-service-details" @skin="primary"> Welke stappen?</AuLink></td>
        </c.body>
    </t.content>
</AuDataTable>